.modal-btn{
	display: none;
}
.light-modal-content{/*
	background-color: green;
	border: 2px solid red;
	outline: 2px dashed red;
	outline-offset: 15px;*/
	width: calc(100px + 40vw) !important;
	margin: auto;
}
.light-modal-heading{
	font-size: 30px !important;
}
.light-modal-body{}
.light-modal-body .website-features h2{
	text-align: center;
}
.light-modal-body .popup-note{
	font-size: 20px;
}
.light-modal-footer{
	display: flex;
	justify-content: flex-end;
}
ul {
  list-style: none;
}
ul li:before {
  content: '\2714\0020';
}

/*Wavy Hand*/
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: calc(25px + 1vw);
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}