.icon{
	display: inline-block;
	font-size: 44px;
	animation: float 3s ease-in-out infinite;
}
.fa-facebook-f{
	animation-delay: 0.5s;
}
.fa-whatsapp{
	animation-delay: 1s;
}
@keyframes float{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-15px);
	}
	100%{
		transform: translateY(0);
	}
}